<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | Caminho do Campo</title>
  <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
  <div class="container">
    <div class="login-box">
      <img src="../static/images/logo.svg" alt="Ilustração Login" class="login-image">
      <h2>Sua jornada começa aqui</h2>
      <p class="subtext">Um único login para todos os produtos da Caminho do Campo</p>

      <form>
        <input type="email" placeholder="E-mail ou Usuário" required>
        <input type="password" placeholder="Senha" required>
        <a href="#" class="forgot">Esqueceu sua senha?</a>
        <button type="submit">Entrar</button>
      </form>

      <p class="signup-text">Não possui uma conta? <a href="#">Crie Agora</a></p>
    </div>

    <footer>
      <div class="socials">
        <a href="#"><img src="../static/images/instaSymbol.svg" alt="Instagram"></a>
        <a href="#"><img src="../static/images/ttkSymbol.svg" alt="TikTok"></a>
      </div>
      <div class="footer-links">
        <a href="#">Termos de uso</a>
        <a href="#">Ajuda</a>
      </div>
    </footer>
  </div>
</body>
</html>
