.sidebar {
  max-width: 200px;
  min-height: 100%;
  background-color: #fff;
  padding: 10px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.nav {
  margin: 20px 0;
}
.nav-item {
  width: 100%;
  margin: 15px;
}
.nav-item a {
  text-decoration: none;
  color: #374151;
}

.footer {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 100%;
  margin-top: auto;
  margin-bottom: 20px;
}

.exit-btn {
  padding: 10px;
  background-color: #218838;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
